
.git
.gitignore

__pycache__
*.pyc
*.pyo
*.pyd
*.py[cod]

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.log
*.sqlite3

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

*.vscode
*.idea

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore other project-specific directories
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.site
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
